.recipe {
  max-width: 900px;
  border-radius: 0.2rem;
  margin: 40px auto;
  text-align: center;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
}
.recipe .image {
  max-width: 70%;
}
.recipe ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  padding-top: 3rem;
  justify-content: center;
  margin-top: 0;
}
.recipe li {
  list-style-type: none;
  margin-right: 10px;
  padding-bottom: 0.5rem;
  color: rgb(137, 137, 137);
  text-align: left;
  font-size: 1.2rem;
}
.recipe li::after {
  content: ',';
}
.recipe li:last-child::after {
  content: '.';
}
.method {
  text-align: left;
  line-height: 1.5em;
  font-size: 1.3rem;
}
/* dark mode */
.recipe.dark {
  background: #555;
  color: #e4e4e4;
}
