.recipe {
  max-width: 900px;
  border-radius: 0.2rem;
  margin: 40px auto;
  text-align: center;
  background: #fff;
  padding: 40px 40px 120px 40px;
  box-sizing: border-box;
}
.recipe .image {
  max-width: 70%;
}
.recipe small {
  text-align: right !important;
}
.recipe ul {
  display: block;
  padding: 3rem;
  margin: 3rem auto 2rem;
  background-color: #f3f3f3;
  border-radius: 0.5rem;
  width: 50%;
}
.recipe li {
  list-style-type: none;
  margin-right: 10px;
  color: rgb(137, 137, 137);
  text-align: center;
  font-size: 1.2rem;
}
li:not(:last-child) {
  margin-bottom: 0.6rem;
}
.recipe li::after {
  content: ', ';
}
.recipe li:last-child::after {
  content: '.';
}
.recipe .method {
  text-align: left;
  line-height: 1.5em;
  font-size: 1.3rem;
  white-space: pre-line;
  white-space: pre-wrap;
}
.recipe button {
  display: inline-block;
  width: 5.5rem;
  font-size: 0.9rem;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 3rem 0.5rem 0;
  text-align: center;
  float: right;
}

/* dark mode */
.recipe.dark {
  background: #555;
  color: #e4e4e4;
}
