.footer {
  width: 100vw;
  background-color: #555;
  padding: 10px;
  position: fixed;
  bottom: 0;
}

.footer p {
  text-align: center;
  color: #f1f1f1;
  font-size: 1rem;
}

/* dark mode */
.footer.dark {
  color: #f1f1f1;
  background-color: #555;
}
