.recipe-list {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 1200px;
  margin: 40px auto; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 2rem;
  max-width: 900px;
  padding-bottom: 100px;
}
